[submodule "models/CTAB-GAN-Plus"]
	path = models/CTAB-GAN-Plus
	url = https://github.com/soCromp/CTAB-GAN-Plus.git
[submodule "models/TabDiff"]
	path = models/TabDiff
	url = https://github.com/soCromp/TabDiff.git
[submodule "models/TabDLM"]
	path = models/TabDLM
	url = https://github.com/soCromp/TabDLM.git
[submodule "models/TabKG"]
	path = models/TabKG
	url = https://github.com/soCromp/TabKG.git
[submodule "models/tabby"]
	path = models/tabby
	url = https://github.com/soCromp/tabby.git
	branch = sd
